<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<html>
  <head>
    <meta charset="UTF-8" />
    <title> Log-in Page</title>
  </head>
<body>
<h2> This log-in form is for employees or volunteers working in a dog shelter. </br> If you are a member of the public looking to adopt a dog,  please visit: </br>
  <a href="/dogs"> Index list of adoptable dogs </a>   </h2> </br>
   
  </br>
<h2>Shelter Staff: </h2>
<h1>Log In </h1> </br>
  
  <form action="/login" method="POST">                     
    
    <label for="username"> Username: </label>
    <input type="text" id="username" name="username"></br>
    
    <label for="password"> Password: </label> 
    <input type="text" id="password" name="password"></br> 
    </br>
    <input type="submit" value="Log In" id="submit">
    
  </form>
  
    </br>
    </br>
    <a href="/signup"> If you are not yet registered please sign up here </a>
  
  </body>
</html> 