<div class="container">
 
  <div class="col-md-8 col-md-offset-2">
 

   <h1> 'FIND MY NEW BEST FRIEND' </h1>

<p><h2><a href="/dogs">Click here to view adoptable dogs</h2></p>

<br>
<br>
</br>
</br>

 <h2>Shelter Staff: </h2> </br>
<h3><a href="/login">  - Click here to Log In -</h3> </br>

<h3><a href="/signup"> - Click here to Sign Up-</h3> </br>


  </div>
</div>

