<div class="container">
  <header><img src="images/corneal-small.png"></header>
  <div class="col-md-8 col-md-offset-2">
 

   <h1>Welcome to 'Find My New Best Friend!' </h1>

<p><h1><a href="/dogs">... Click here to view available dogs...</h1></p>

<br>
<br>


<h2><a href="/login"> SHELTER STAFF - Click here to Log In</h2>

<h2><a href="/signup">SHELTER STAFF - Click here to Sign Up</h2>


  </div>
</div>

