     

<html>
  <head>
    <meta charset="UTF-8" />
    <title>  DOGS AVAILABLE FOR ADOPTION </title>
  </head>
<body>
  <h1> Dogs Available for Adoption : </h1> </br>
  
  <% @dogs.each do |dog| %>
 <tr> <p>
  <td> Name:  <%= dog.name %>  </td>
  <td> Breed:  <%= dog.breed %>  </td>
  <td>  Age: <%= dog.age %>  </td>
 <td> Shelter:  <%= dog.shelter %> </td>
 </p> 
  </tr> 
  </br>
<% end %>


</body>
</html>

