
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dogs -Add Dog</title>
  </head>
<body>
  <h1>Create New Dog</h1>
  <form method="post" action="/dogs">
    <table>
      <tr>
       <td><label for="name"> Name:</label> </td> 
       <td><input type= "text" name="name"> </td> 
      </tr>
      <tr>
       <td><label for="age"> Age:</label> </td> 
       <td><input type= "text" name="age"> </td> 
      </tr>
      <tr>
       <td><label for="shelter"> Shelter:</label> </td> 
       <td><input type= "text" name="shelter"> </td> 
      </tr>
      <tr>
       <td><label for="breed"> Breed:</label> </td> 
       <td><input type= "text" name="breed"> </td> 
      </tr>
      <tr>
        <td><input type="submit" value="submit"></td>
      </tr>
    </table>
    
   </form>
  <a href="/">Back to HomePage</a>
  </body>
</html> 
